.main-btn{
    background: #1E1E1E;
    border: #4BFFA5 solid 1px;
    color: white;
    border-radius: 20px;
    padding: 8px;
    box-shadow: 0px 0px 10px #4BFFA5; 
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 5px;
    font-weight: normal;
    font-size: small;
}

.main-btn:hover {
    box-shadow: 0px 0px 20px #4BFFA5;

}
