.down-line {
    background: #4BFFA5;
    width: 2px;
    height: 75px;
    margin-left: 10px;
    border-radius: 30px;
    user-select: none;
}

/* 

@media only screen and (max-width: 425px){
    .down-line {
   
        height: 40px;
        display: none;
        

    }

} */
