.service-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #14181E;
    width: 100%;
    font-size: 18px;
    letter-spacing: 5px;
    flex-direction: column;
    height: 650px;
    flex-wrap: nowrap;
}

.service-container h2{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    margin-top: -40px;
}

.cad-div{
    display: flex;
    margin-top: 10px;
    font-size: 12px;
    text-align: left;
    justify-content: space-around;
 
}

