.standalone-div{
    background-color:#14181E ;
    width: 100%;
}

.standalone-container{

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    flex-wrap: wrap;
    gap: 30px;  
}


.standalone-div h2 {
    color: white;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 5px;
    font-weight: normal;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.projects{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


