.pg{
    margin-left: 25%;
    text-align: left;
    letter-spacing: 8px;
    font-size: 15px;
}

.pr-div{
    width: 100%;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
}

.p-bar{
    width: 50%;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: -15px;
}

/* ============================ */


.cp{
    /* margin-left: 100px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pg1{
    font-size: 14px;
    letter-spacing: 0;
   margin-top: 10px;
}
