.main-container {
    background: #14181E;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.home-img {
    width: 450px;
    margin-top: -17px;

}

.contend-div {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 18px;
    letter-spacing: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 70px;
    width: 100%;
}

.contend-div h2,
h1,
p {
    font-weight: normal;

}

.p-span {
    color: #4BFFA5;
}

.social-media {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-right: 50px;
    justify-content: center;

}

.social-media a {
    color: white;
    font-size: 23px;
    transition: color 0.9s;
}

.social-media a:hover {
    color: #4BFFA5;
}

.social-media a{
    font-size: 30px;
}

 @media only screen and (max-width: 430px) {
    .home-img {
        width: 250px;
    }

    .contend-div {
        display: flex;
        justify-content: center;
        position: absolute;
        align-items: center;
        letter-spacing: 2px;
        gap: 5px;
        margin-top: -50px;
        background: rgba(20, 24, 30, 0.700);
    }

    .contend-div h1,
    h2,
    p {
        font: 1em sans-serif;
        display: flex;
        align-items: center;

    }

    .contend-div p {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .social-media {
        position: relative;
        width: 0px;
        gap: 20px;
        right: 0;
        top: -300px;
        left: 120px;
        margin: auto;
    }
    .main-container{
        display: block;
        height: 580px;
    }
    .social-media a{
        font-size: 20px;
    }
    

} 
